@font-face {
    font-family: 'AvenirBook';
    src: url('../fonts/AvenirBook.eot');
    src: url('../fonts/AvenirBook.eot') format('embedded-opentype'),
    url('../fonts/AvenirBook.woff2') format('woff2'),
    url('../fonts/AvenirBook.woff') format('woff'),
    url('../fonts/AvenirBook.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts/AvenirLight.eot');
    src: url('../fonts/AvenirLight.eot') format('embedded-opentype'),
    url('../fonts/AvenirLight.woff2') format('woff2'),
    url('../fonts/AvenirLight.woff') format('woff'),
    url('../fonts/AvenirLight.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('../fonts/AvenirNextLTProRegular.eot');
    src: url('../fonts/AvenirNextLTProRegular.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextLTProRegular.woff2') format('woff2'),
    url('../fonts/AvenirNextLTProRegular.woff') format('woff'),
    url('../fonts/AvenirNextLTProRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTProMediumCn';
    src: url('../fonts/AvenirNextLTProMediumCn.eot');
    src: url('../fonts/AvenirNextLTProMediumCn.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextLTProMediumCn.woff2') format('woff2'),
    url('../fonts/AvenirNextLTProMediumCn.woff') format('woff'),
    url('../fonts/AvenirNextLTProMediumCn.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirLTStdMedium';
    src: url('../fonts/AvenirLTStdMedium.eot');
    src: url('../fonts/AvenirLTStdMedium.eot') format('embedded-opentype'),
    url('../fonts/AvenirLTStdMedium.woff2') format('woff2'),
    url('../fonts/AvenirLTStdMedium.woff') format('woff'),
    url('../fonts/AvenirLTStdMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTProBold';
    src: url('../fonts/AvenirNextLTProBold.eot');
    src: url('../fonts/AvenirNextLTProBold.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextLTProBold.woff2') format('woff2'),
    url('../fonts/AvenirNextLTProBold.woff') format('woff'),
    url('../fonts/AvenirNextLTProBold.ttf') format('truetype');
}






body, html {
    margin: 0;
    padding: 0;
}

.mainwrapper {
    border: 0px solid red;
}

/*------ Header ----------------*/

header {
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    float: left;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.headersec {
    float: left;
    width: 100%;
}

.headersec .navbar-default {
    border: 0 none;
    height: 49px;
    opacity: 1;
}

.custom-logo .navbar-brand {
    height: auto;
    margin: 0 !important;
    padding: 7px 31px;
}

.custom-logo .navbar-brand > img {
    display: block;
    max-width: 70px;
}

.custom-menu-primary ul.navbar-nav li a {
    color: #ffffff;
    font-family: "AvenirNextLTProRegular";
    font-size: 10px;
    letter-spacing: 0.2px;
    padding: 15px 15px 13px;
    text-transform: uppercase;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #000000 !important;
    background: none !important;
}

.contentsec {

}

.banner-img {
    background: rgba(0, 0, 0, 0) url("../images/bg_brush.png") no-repeat scroll 0 0 / 100% 100%;
    border: 0 solid #ff0000;
    float: left;
    min-height: 820px;
    position: relative;
    width: 100%;
}

.center-content {
    border: 0px solid #ff0000;
    max-width: 1170px;
    padding: 0;
    position: absolute;
    top: 26%;
    width: 100%;
}

.outer-left-banner {
    border: 0 solid #0094f0;
    float: left;
    padding: 60px 0 0;
    position: relative;
    width: 100%;
}

.left-banner-text {
    border: 0 solid #000000;
    float: left;
    margin: 0 0 10px;
    width: 100%;
}

.left-banner-text p {
    color: #ffffff;
    font-family: "AvenirNextLTProRegular";
    font-size: 20px;
    letter-spacing: -0.5px;
}

#left-logo {
    border: 0 solid #ff0000;
    float: left;
    width: 15%;
}

#left-logo > img {
    margin: 6px 0 0 8px;
    max-width: 65px;
}

#right-logo-text {
    border: 0px solid #ff0000;
    float: right;
    width: 84%;
}

#right-logo-text h3 {
    color: #ffffff;
    font-family: "AvenirBook";
    font-size: 33px;
    margin: 0;
    padding: 10px 0 0;
}

#right-logo-text h5 {
    color: #ffffff;
    font-family: "AvenirLight";
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 5px 0;
}

.right-banner-image {
    width: 100%;
    float: left;
    border: 0px solid red;
    position: relative;
}

.right-banner-image > img {
    max-width: 100%;
}

.app_captions {
    position: absolute;
    bottom: 0;
    border: 0px solid red;
    left: -40px;
    width: 100%;


}

.app_captions ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.app_captions ul li {
    display: inline-block;
}

.app_captions ul li img {
    cursor: pointer;
}

.full-width {
    float: left;
    padding: 35px 0 0;
    width: 100%;
}

.hear-section {
    padding: 75px 0 30px;
}

.section-head > h3 {
    font-family: "AvenirNextLTProMediumCn";
    font-size: 40px;
    text-align: center;
}

.about-us-text {
    margin: 0 0 50px;
}

.about-us-text > p {
    color: #626262;
    font-family: AvenirBook;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.lower-about-section {
    border: 0px solid #ff0000;
    float: left;
    margin: 0 0 50px;
    position: relative;
    width: 100%;
}

.left-about-icon {
    border: 0 solid #ffffff;
    float: left;
    position: absolute;
    top: 22%;
    width: 18%;
}

.left-about-icon img {
    max-width: 42px;
}

.right-about-content {
    width: 79%;
    float: right;
    border: 0px solid red;
}

.right-about-content h3 {
    color: #2c2c2c;
    font-family: AvenirLTStdMedium;
    font-size: 15px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 10px 0;
}

.right-about-content p {
    color: #626262;
    font-family: "AvenirNextLTProRegular";
    font-size: 14px;
    line-height: 21px;
}

.dotted-line {
    background: rgba(0, 0, 0, 0) url("../images/icon-waves.png") no-repeat scroll center center;
    border: 0 solid #ff0000;
    height: 10px;
    margin: 0 auto 40px;
}

.left-services-section {
    background: rgba(0, 0, 0, 0) url("../images/image-download.png") no-repeat scroll 0 0 / 100% auto;
    border: 0px solid #ff0000;
    float: left;
    height: 460px;
    width: 50%;
    overflow: hidden;
    position: relative;
    transition: background 2.5s;
    cursor: pointer;
}

/*.left-service-caption:hover {*/
    /*top:0;*/
    /*overflow: visible;*/
    /*height: auto;*/
/*}*/

.left-service-caption {
    background: rgba(4, 142, 222, 0.8) none repeat scroll 0 0;
    border: 0 solid #ff0000;
    bottom: 0;
    height: 100px;
    position: absolute;
    width: 100%;
}

.lower-caption-text {
    border: 0 solid #ff0000;
    display: block;
    margin: 19px auto 0px;
    width: 53%;
}

.lower-caption-text > h5 {
    color: #ffffff;
    font-family: AvenirLTStdMedium;
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 26px;
    margin: 0;
}

.lower-caption-text > ul {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 10px 0 0;
}

.lower-caption-text > ul li {
    color: #ffffff;
    font-family: AvenirLight;
    font-size: 12px;
    line-height: 20px;
}

.lower-caption-text > img {
    margin: 0 11px 0 0;
    max-width: 36px;
    position: relative;
    top: -24px;
}

.lower-caption-text p {
    color: #ffffff;
    display: inline-block;
    font-family: "AvenirLTStdMedium";
    font-size: 20px;
    letter-spacing: 0.7px;
}

.right-services-section {
    width: 50%;
    float: left;
    border: 0px solid #000;
    background: rgba(0, 0, 0, 0) url("../images/image-servideprovider.png") no-repeat scroll 0 0 / 100% auto;
    height: 460px;
    cursor: pointer;
    position: relative;
}

.right-service-caption {
    background: rgba(44,44,44, 0.8) none repeat scroll 0 0;
    border: 0 solid #ff0000;
    bottom: 0;
    height: 100px;
    position: absolute;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
}

.right-service-caption:hover {
    top:0;
    overflow: visible;
    height: auto;
}

.lower-slider-section {
    float: left;
    width: 100%;
    margin:0 0 30px;
    border: 0px solid red;
}

.slide-1 {
    border: 0px solid #ff0000;
    height: 380px;
    width: 100%;
    padding: 20px;
    position: relative;
    transition: background 0.5s;
    cursor: pointer;
    background: #f0f0f0 none repeat scroll 0 0;
}

.slide-1:hover {
    background-color: #32a2ec;
    color: #ffffff !important;
}

.slide_img img {
    display: block;
    margin: 10px auto 20px;
    max-width: 130px;
    max-height: 155px;
}
.slide-text {
    width: 100%;
    border: 0px solid red;
    float: left;
}

/*.slide-text > p {*/
    /*color: #656b6f;*/
    /*font-family: AvenirBook;*/
    /*font-size: 15px;*/
    /*line-height: 22px;*/
    /*text-align: center;*/
/*}*/

.slide-text h4 {
    font-size: 15px;
    text-align: center;
    font-family: AvenirBook;
    line-height: 22px;
}

.slide-caption {
    border: 0px solid #ff0000;
    bottom: 20px;
    height: 30px;
    position: absolute;
    width: 90%;
}

.slide-caption > h3 {
    font-family: AvenirNextLTProBold;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

.left.fa.fa-chevron-left.btn.btn-primary {
    /*left: 0;*/
    /*position: absolute;*/
    left: -5%;
    position: absolute;
    top: 40%;
}

.right.fa.fa-chevron-right.btn.btn-primary {
    /*right: 0;*/
    /*position: absolute;*/

    right: -5%;
    top: 40%;
    position: absolute;
}

#carousel-example-generic .btn {
    font-size: 29px ;
}

.footer-logo {
    width: 100%;
    border: 0px solid #000;
}

.footer-logo > img {
    max-width: 200px;
}

.footer-social-icons {
    border: 0 solid #000000;
    margin: 8px 0 0;
    width: 100%;
}

.footersec {
    border-top: 1px solid #a7a7a7;
    float: left;
    margin: 40px 0 0;
    padding: 29px 0;
    width: 100%;
}

.footer-links {
    margin: 19px 0;
}

.footer-links ul {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-links > ul li {
    border-right: 1px solid #a7a7a7;
    display: inline-block;
    line-height: 10px;
    padding: 0 23px;
}

.footer-links > ul li:last-child {
    border-right: medium none;
}

.footer-links > ul li a {
    color: #a7a7a7;
    font-family: AvenirLTStdMedium;
    font-size: 11px;
}

.footer-social-icons ul {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.footer-social-icons ul li {
    display: inline-block;
    padding: 0 0 0 37px;
}

.footer-social-icons > p {
    text-align: right;
}

.footer-social-icons > p a {
    color: #a7a7a7;
    font-family: AvenirLTStdMedium;
    font-size: 12px;
    letter-spacing: -0.4px;
    line-height: 3.7;
    padding: 10px 0 0;
    text-align: right;
}

.copyright {
    width: 100%;
    background: #2c2c2c;
    float: left;
}

.copyright p {
    color: #ffffff;
    display: block;
    font-family: AvenirBook;
    font-size: 12px;
    margin: 0;
    padding: 9px 0;
    text-align: center;
}


/* ======== Media Queries ========== */

@media (max-width: 1200px) and (min-width: 992px) {
    .center-content {
        max-width: 940px;
        top: 16%;
        padding: 40px 0 0;
    }

    #left-logo > img {
        max-width: 46px;
    }

    .left-banner-text p {
        font-size: 17px;
    }

    .banner-img {
        min-height: 600px;
    }

    .container {
        width:940px !important;
    }

    .left-services-section,
    .right-services-section {
        height:280px;
    }

    .left-service-caption,
    .right-service-caption {
        height:100px;
    }

    .lower-caption-text {
        margin: 31px auto 20px;
        width: 73%;
    }

    .footer-social-icons ul li {
        padding: 0 0 0 20px;
    }

    .right.fa.fa-chevron-right.btn.btn-primary {
        padding: 0;
        right: -2.3%;
    }

    .left.fa.fa-chevron-left.btn.btn-primary {
        left: -2.4%;
        padding: 0;
    }

    #carousel-example-generic .btn {
        font-size: 20px;
    }

    .slide-text h4 {
        font-size: 12px;
    }


}

@media(max-width: 991px) and (min-width: 768px) {
    .center-content {
        max-width: 710px;
        top: 21%;
    }

    #left-logo {
        width: 22%;
    }

    #left-logo > img {
        max-width: 53px;
    }

    #right-logo-text {
        width: 75%;
    }

    .banner-img {
        min-height: 520px;
    }

    .left-services-section,
    .right-services-section {
        height: 220px;
    }

    .left-service-caption,
    .right-service-caption {
        height:68px;
    }

    .lower-caption-text {
        width: 70%;
        margin: 20px auto 20px;
    }

    .lower-caption-text > img {
        max-width: 28px;
        top: -13px;
    }

    .lower-caption-text p {
        font-size: 13px;
        letter-spacing: 0.7px;
    }

    .lower-caption-text > h5 {
        font-size: 11px;
        line-height: 16px;
    }

    .container {
        width: 710px !important;
    }

    .slide-text > p {
        font-size: 11px;
        line-height: 18px;
    }

    .footer-logo > img {
        max-width: 140px;
    }

    .footer-links > ul li {
        padding: 0 12px;
    }

    .footer-links > ul li a {
        font-size: 9px;
    }

    .footer-social-icons ul li {
        padding: 0 0 0 11px;
    }

    #carousel-example-generic .btn {
        font-size: 19px;
    }

    .right.fa.fa-chevron-right.btn.btn-primary {
        padding: 0;
        right: -3%;
    }

    .left.fa.fa-chevron-left.btn.btn-primary {
        left: -3%;
        padding: 0;
    }

    .slide-text h4 {
        font-size: 10px;
        line-height: 18px;
    }

    .lower-caption-text > ul {
        padding: 3px 0 0;
    }

}


@media (max-width: 767px) and (min-width: 550px) {
    .center-content {
        max-width: 90%;
        top: 16%;
    }

    .right-banner-image > img {
        max-width: 60%;
        margin: 0 auto;
        display: block;
    }

    #left-logo > img {
        margin: 10px 0 0 8px;
        max-width: 50px;
    }

    .left-services-section,
    .right-services-section {
        width: 100%;
        height: 310px;
    }

    .left-services-section {
        margin: 0 0 30px;
    }

    .lower-caption-text {
        margin: 22px auto 20px;
        width: 90%;
    }

    .left-service-caption,
    .right-service-caption {
        height: 100px;
    }

    .footer-logo > img {
        max-width: 200px;
        margin: 0 auto;
        display: block;
    }

    .footer-social-icons ul {
        text-align: center;
    }

    .footer-social-icons > p {
        text-align: center;
    }

    .footersec {
        padding: 22px 0 0;
    }

    .lower-slider-section .container .row {
        margin-right: -7px;
        margin-left: -7px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }

    .custom-menu-primary ul.navbar-nav li a {
        text-align: right;
    }

    .left.fa.fa-chevron-left.btn.btn-primary,
    .right.fa.fa-chevron-right.btn.btn-primary {
        display: none;
    }
}

@media (max-width: 549px) {
    .custom-logo .navbar-brand > img {
        max-width: 50px;
    }

    .banner-img {
        min-height: 500px;
    }

    .center-content {
        max-width: 90%;
        top: 15%;
    }

    .outer-left-banner {
        padding: 20px 0 0;
    }

    #left-logo {
        float: left;
        width: 25%;
    }

    #left-logo > img {
        max-width: 51px;
    }

    #right-logo-text {
        float: left;
        width: 70%;
    }

    #right-logo-text h3 {
        font-size: 20px;
        margin: 0;
        padding: 10px 0 0;
    }

    #right-logo-text h5 {
        font-size: 12px;
        line-height: 13px;
        padding: 5px 0;
    }

    .left-banner-text p {
        font-size: 12px;
        letter-spacing: -0.5px;
    }

    .right-banner-image > img {
        max-width: 56%;
        margin: 0 auto;
        display: block;
    }

    .left-services-section,
    .right-services-section {
        width: 100%;
        height: 224px;
    }

    .left-services-section {
        margin: 0 0 30px;
    }

    .about-us-text > p {
        font-size: 12px;
        line-height: 19px;
    }

    .lower-about-section {
        margin: 0 0 30px;
    }

    .left-service-caption,
    .right-service-caption {
        height: 60px;
    }

    .lower-caption-text {
        margin: 11px auto 20px;
        width: 90%;
    }

    .lower-caption-text > img {
        max-width: 24px;
        position: relative;
        top: -14px;
    }

    .lower-caption-text p {
        font-size: 14px;
        letter-spacing: 0.7px;
    }

    .footer-logo > img {
        max-width: 200px;
        margin: 0 auto;
        display: block;
    }

    .footer-social-icons ul {
        text-align: center;
    }

    .footer-social-icons > p {
        text-align: center;
    }

    .footersec {
        padding: 22px 0 0;
    }

    .lower-slider-section .container .row {
        margin-right: -7px;
        margin-left: -7px;
    }

    .lower-caption-text > h5 {
        font-size: 12px;
        line-height: 20px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }

    .custom-menu-primary {
        background: #0088E6;
    }

    .custom-menu-primary ul.navbar-nav li a {
        text-align: right;
    }

    .left.fa.fa-chevron-left.btn.btn-primary,
    .right.fa.fa-chevron-right.btn.btn-primary {
        display: none;
    }

    .lower-caption-text > ul {
        padding: 5px 0 0;
    }

    .lower-caption-text > h5 {
        font-size: 10px;
        line-height: 15px;
    }

    .lower-caption-text > ul li {
        font-size: 10px;
        line-height: 16px;
    }

}




















