/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


#mainwrapper {
	height: auto;
	margin: 0;
	width: 100%;
}

/* Image Box Style */
#mainwrapper .box {
	border: 0px solid #fff;
	cursor: pointer;
	height: 460px;
	float: left;
	margin: 0px;
	position: relative;
	overflow: hidden;
	width: 100%;
	/*-webkit-box-shadow: 1px 1px 1px 1px #ccc;*/
	/*-moz-box-shadow: 1px 1px 1px 1px #ccc;*/
	box-shadow: none;
}

#mainwrapper .box img {
	/*position: absolute;*/
	/*left: 0;*/
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

/* Caption Common Style */
#mainwrapper .box .caption{
	background: rgba(4, 142, 222, 0.8) none repeat scroll 0 0;
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	left: 0;
	/*bottom: 0;*/
}

#mainwrapper .box .caption-1 {
	background: rgba(44, 44, 44, 0.8) none repeat scroll 0 0;
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	left: 0;
}

/** Caption 1: Simple **/
#mainwrapper .box .simple-caption {
	bottom: -370px;
	display: block;
	height: 467px;
	line-height: 25pt;
	text-align: left;
	width: 100%;
}

/** Caption 2: Full Width & Height **/
/*#mainwrapper .box .full-caption {*/
	/*width: 170px;*/
	/*height: 170px;	*/
	/*top: -200px;*/
	/*text-align: left;*/
	/*padding: 15px;*/
/*}*/

/** Caption 3: Fade **/
/*#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption  {*/
	/*opacity: 0;*/
	/*width: 170px;*/
	/*height: 170px;*/
	/*text-align: left;*/
	/*padding: 15px;*/
/*}*/

/** Caption 4: Slide **/
/*#mainwrapper .box .slide-caption {*/
	/*width: 170px;*/
	/*height: 170px;	*/
	/*text-align: left;*/
	/*padding: 15px;*/
	/*left: 200px;*/
/*}*/

/** Caption 5: Rotate **/
/*#mainwrapper #box-5.box .rotate-caption {*/
	/*width: 170px;*/
	/*height: 170px;	*/
	/*text-align: left;*/
	/*padding: 15px;*/
	/*top: 200px;*/
	/*-moz-transform: rotate(-180deg);*/
	/*-o-transform: rotate(-180deg);*/
	/*-webkit-transform: rotate(-180deg);*/
	/*transform: rotate(-180deg);*/
/*}*/

#mainwrapper .box .rotate {
	width: 200px;
	height: 400px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

/** Caption 6: Scale **/
#mainwrapper .box .scale-caption h3, #mainwrapper .box .scale-caption p {
	position: relative;
	left: -200px;
	width: 170px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

#mainwrapper .box .scale-caption h3 {
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	-ms-transition-delay: 300ms;	
	transition-delay: 300ms;
}

#mainwrapper .box .scale-caption p {
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	-ms-transition-delay: 500ms;	
	transition-delay: 500ms;
}

/** Simple Caption :hover Behaviour **/
#mainwrapper .box:hover .simple-caption {
	/*-moz-transform: translateY(-100%);*/
	/*-o-transform: translateY(-100%);*/
	/*-webkit-transform: translateY(-100%);*/
	opacity: 1;
	/*transform: translateY(-100%);*/
	bottom: 0;
}

/** Full Caption :hover Behaviour **/
#mainwrapper .box:hover .full-caption {
	-moz-transform: translateY(100%);
	-o-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	opacity: 1;
	transform: translateY(100%);
}

/** Fade Caption :hover Behaviour **/
#mainwrapper .box:hover .fade-caption, #mainwrapper .box:hover .scale-caption  {
	opacity: 1;
}

/** Slide Caption :hover Behaviour **/
#mainwrapper .box:hover .slide-caption {
	background-color: rgba(0,0,0,1) !important;
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	opacity: 1;
	transform: translateX(-100%);
}
#mainwrapper .box:hover img#image-4 {
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	opacity: 1;
}

/** Rotate Caption :hover Behaviour **/
#mainwrapper .box:hover .rotate {
	background-color: rgba(0,0,0,1) !important;
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

/** Scale Caption :hover Behaviour **/
#mainwrapper .box:hover #image-6 {
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

#mainwrapper .box:hover .scale-caption h3, #mainwrapper .box:hover .scale-caption p {
	-moz-transform: translateX(200px);
	-o-transform: translateX(200px);
	-webkit-transform: translateX(200px);
	transform: translateX(200px);
}


@media (max-width: 1200px) and (min-width: 992px) {
	#mainwrapper .box {
		height:280px;
	}

	#mainwrapper .box .simple-caption {
		height: 280px;
		width: 100%;
		box-shadow: none;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	#mainwrapper .box {
		height: 220px;
	}

	#mainwrapper .box .simple-caption {
		height: 233px;
		width: 100%;
		box-shadow: none;
	}
}

@media (max-width: 767px) and (min-width: 550px) {
	#mainwrapper .box {
		height:310px;
	}

	#mainwrapper .box .simple-caption {
		height:317px;
		width: 100%;
		box-shadow: none;
	}
}

@media(max-width: 549px) {
	#mainwrapper .box {
		height: 225px;
	}

	#mainwrapper .box .simple-caption {
		height:230px;
	}
}